.header{
    display: flex;
    justify-content: space-between;
}

.header > img{
    width: 100px;
    height: 100px;
}

.nav{
    list-style-type: none;
    display: flex;
}

.nav > li{
    margin-right: 40px;
}