
.mainPart{
    display: flex;
    justify-content: space-around;
}

.sidebar{
    padding: 20px;
    border: solid black;

    width: 300px;
    height: 400px;
}

.sidebar > h5{
    font-size: 20px;
}
.rechercheEtProduits{
    display: flex;
    flex-direction: column;
}
.barreRecherche{
    display: flex;
    align-items: baseline;
}
.Produits{
    display: flex;
    flex-wrap: wrap;
}
.chercheProduit{
    height: 30px;
    width: 200px;
    border: solid #F9F24D;
    background-color: #F3F3F3;
}

.barreRecherche > a{
    text-decoration: none;
    color: #000;
    background-color: #F9F24D;
    padding: 10px;

    font-size: 13px;
}